:root {
    font-family: 'Arial';
}


.nav-bar {
    background-color: black;
    padding: 5px ;
    height: 58px;
    
}
ul {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-transform: uppercase;
    width: 954px;
    margin-top: -20px;
    padding-right: 250px;
    
    
} 

a {
    color: #CBCBCD;
    text-decoration: none;
}
.logo {
    padding: 5px 112px 5px 175px;
}
.navigation-container, .download {
    display: flex;
    justify-content: flex-end;
    margin-top: -36px;
}
.heroes-section {
    display: grid;
    grid-template-columns: 2fr;
    background-image: url(/src/background-1.svg);

}
.heroes {
    grid-column-start: 2;
    grid-column-end: 3;
}
.home-logo {
    padding-top: 5rem;
    padding-left: 10rem;
}

